* {
    padding: 0;
    margin: 0;
}

.main{
    background-image: url("assets/images/IN-en-20250421-TRIFECTA-perspective_dc5bcfdf-88a5-4972-8ffe-b28ff942f76e_large.jpg");
    height: 80vh    ;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.44;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1000px, 100vw);
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    max-width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62 px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.hero{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}